# Python files
*.pyc
__pycache__/

# pyinstaller folders
build
dist

# Virtual environment
venv/

# IDE/Editor-specific files
.vscode/
.idea/
*.pyo
*~

# Logs and Temporary files
.DS_Store
*.log
*.db
instance/
tmp/
ignore_list.txt

# Configuration files
.env
.flaskenv
.yml
# Dependency management
requirements.txt
Pipfile
Pipfile.lock

mongo_data
redis_data
checkpoints